
<body>

<nav class="navbar navbar-expand-lg fixed-top navbar-scroll">
    <div class="container-fluid">
      <ul class="nav nav-underline">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" style="color: black;"> UFashionn </a>
        </li></ul>
<br>&nbsp;&nbsp;&nbsp;&nbsp;
        <!-- <nav class="nav-area">
        <ul>
          <li>
            <a href="#">Hey,Signin</a>
            <ul>
              <li>
                <a class="nav-link" routerLink="/signin"><mat-icon class="person">person</mat-icon>&nbsp;Signin</a>
              </li>
              <li><a class="nav-link" routerLink="" ><mat-icon class="account_circle">account_circle</mat-icon>&nbsp;Profile </a></li>
              <li><a class="nav-link" routerLink=""><mat-icon class="settings">settings</mat-icon>&nbsp;Setting</a></li>
              <li><a class="nav-link" routerLink=""><mat-icon class="list">list</mat-icon>&nbsp;Orders</a></li>
              <li><a class="nav-link" routerLink=""><mat-icon class="exit_to_app">exit_to_app</mat-icon>&nbsp;Logout</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <nav class="nav-area">
        <ul>
          <li>
            <a href="#">Hey,Signin</a>
            <ul>
              <li>
                <a class="nav-link" routerLink="/signin"><mat-icon class="person">person</mat-icon>&nbsp;Signin</a>
              </li>
              <li><a class="nav-link" routerLink="" ><mat-icon class="account_circle">account_circle</mat-icon>&nbsp;Profile </a></li>
              <li><a class="nav-link" routerLink=""><mat-icon class="settings">settings</mat-icon>&nbsp;Setting</a></li>
              <li><a class="nav-link" routerLink=""><mat-icon class="list">list</mat-icon>&nbsp;Orders</a></li>
              <li><a class="nav-link" routerLink=""><mat-icon class="exit_to_app">exit_to_app</mat-icon>&nbsp;Logout</a></li>
            </ul>
          </li>
        </ul>
      </nav> -->

      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul
          class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
          style="--bs-scroll-height: 100px"
        >
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              formControlName="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <div class="lan" id="myid"></div>
        </ul>

        <!-- <div class="dropdown">
        <button
          class="dropbtn"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          Hey,Signin -->
        <!-- </button> -->

        <nav class="nav-area">
          <ul>
            <li>
              <a href="#">Hey,Signin</a>
              <ul>
                <li>
                  <a class="nav-link" routerLink="/signin"><mat-icon class="person">person</mat-icon>&nbsp;Signin</a>
                </li>
                <li><a class="nav-link" routerLink="" ><mat-icon class="account_circle">account_circle</mat-icon>&nbsp;Profile </a></li>
                <li><a class="nav-link" routerLink=""><mat-icon class="settings">settings</mat-icon>&nbsp;Setting</a></li>
                <li><a class="nav-link" routerLink=""><mat-icon class="list">list</mat-icon>&nbsp;Orders</a></li>
                <li><a class="nav-link" routerLink=""><mat-icon class="exit_to_app">exit_to_app</mat-icon>&nbsp;Logout</a></li>
              </ul>
            </li>
          </ul>
        </nav>

        <mat-icon class="wishlist">favorite</mat-icon
        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-icon class="cart">shopping_cart</mat-icon>
       
        <div></div>
      </div>
        </div></nav>
      <app-home></app-home></body>


    
    <!-- <header class="bottom-nav"> <div class="container">
        
            
                <a href="#">Hey,Signin</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#">Hey,Signin</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#">Hey,Signin</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#">Hey,Signin</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#">Hey,Signin</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#">Hey,Signin</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#">Hey,Signin</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#">Hey,Signin</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div></header> --> 


