<body>
    <div [formGroup]="form" #usernform="ngForm" >
        <div class="form-group" >

        <br>
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1"  formControlName="email" placeholder="Enter Email Address" (keypress)="space($event)" >
            <mat-error *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="text-danger mt-2">
                Email is required.
            </mat-error>
       <br>
       <button type="signin" class="btn btn-md btn-primary"  [disabled]="!usernform.form.valid" (click)="handleClick()" > 
       CONTINUE
       </button>
<BR>

</div>
</div>
    </body>

