<app-header></app-header>
<div class="card-group">
  
    
      <div class="card">
        <div class="card-header bg-transparent border-success">Header</div>
        <img src="assets/images/1.jpg " class="card-img-top" style="height: 260px; width: 357px;">
          <div class="card-footer bg-transparent border-success">Footer</div>
        </div>
      &nbsp;&nbsp;&nbsp;&nbsp;
   
      <div class="card"><div class="card-header bg-transparent border-success">Header</div>
        <img src="assets/images/istockphoto-1017212870-612x612.jpg" class="card-img-top" style="height: 260px; width: 357px;">
        <div class="card-footer bg-transparent border-success">Footer</div>
      </div>
    
      &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="card">
        <div class="card-header bg-transparent border-success">Header</div>
        <img src="assets/images/2.pg.jpg " class="card-img-top" style="height: 260px; width: 357px;">
          <div class="card-footer bg-transparent border-success">Footer</div>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;
      
        <div class="card">
          <div class="card-header bg-transparent border-success">Header</div>
          <img src="assets/images/1-1.jpg " class="card-img-top" style="height: 260px; width: 357px;">
            <div class="card-footer bg-transparent border-success">Footer</div>
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;
</div>
      
      
